/* Basscss Responsive White Space */

@import "./lib/sm-margins.css";
@import "./lib/md-margins.css";
@import "./lib/lg-margins.css";

@import "./lib/sm-padding.css";
@import "./lib/md-padding.css";
@import "./lib/lg-padding.css";

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
}
