<div class="sm-flex center nowrap mb2 h5">
  <div class="flex-auto">
    Made with <a href="https://hexo.io/" class="btn block">Hexo</a>
  </div>
  <div class="flex-auto">
    <a href="https://git.fm/zllovesuki/hexo-theme-weightless" class="btn block">Weightless</a> Theme
  </div>
</div>
<script type="text/javascript">
	var icons = document.querySelectorAll('[data-icon]');
	geomicons.inject(icons);
</script>
<%- partial('analytics') %>
